/*
~o ASB Log theme o~

  o Author: Jefferson Real
  o Contact: me@jeffersonreal.uk
  o Website: https://jeffersonreal.uk


~o File Index o~

# Base
    o Theme Variables
    o Reset
# Layout
    o site
    o frontPage-main
    o site-main
        - site-main Contact
# Elements
    o Icons
    o Animation
    o Typography
    o Forms
    o Buttons
    o Links
    o Tables
    o Wordpress UI
        - .post-edit-link
# Blocks
    o Navigation
        - .header_navBox
        - .menuToggle
		- .menu
        - .footerNavigation
        - .navBackToTop
        - .nav-404
    o Global
        - .siteHeader
        - .footer
        - .sidebar
    o Front Page
        - .welcome
        - .incidentFeed
    o Wordpress
        - .wp-block-gallery
        - .wp-block-media-text
*/


/* ------------------------------------------------------------------- # Base */
/* ------------------------------------------------------- ## Theme Variables */


:root {

    /* Pallette */
    --asb_white: #fff;
    --asb_black: #000;
    --asb_lightGrey: #f3f3f3;
    --asb_grey: #e9e9e9;
    --asb_darkGrey: #94918f;
	--asb_theme-blue1: #000814;
	--asb_theme-blue2: #001d3d;
	--asb_theme-blue3: #003566;
	--asb_theme-yellow1: #ffc300;
	--asb_theme-yellow2: #ffd60a;

	/* Dimensions */
	--asb_contentWidth: 1200px;
	--asb_padding: 16px;

    /* Drop Shadows */
    --asb_boxShadow: 1px 1px 5px #000b;
	--asb_cornerRadius: 3px;

    /* Fonts (all web safe) */
    --asb_font-primary: Georgia, serif;
    --asb_font-secondary: Arial, sans-serif;
    --asb_font-mono: 'Courier New', monospace;

    /* Relative Font Sizes (% of base size above) */
    --asb_font-xxs: 0.75em;
    --asb_font-xs: 0.84em;
    --asb_font-s: 1em; /* Root size 0.9375em @ <= 768 */
    --asb_font-m: 1.3em;
    --asb_font-l: 1.75em;
    --asb_font-xl: 2.5em;
    --asb_font-xxl: 3.73em;

    /* Special Button Font Size (Different Grow Ratio to text) */
    --asb_font-button: clamp(11px, calc(0.6875rem + ((1vw - 5.12px) * 0.5282)), 14px);

    /* smooth anchor scrolls */
    scroll-behavior: smooth;

	/* default font */
    color: var(--asb_theme-blue1);
    font-family: var(--asb_font-secondary);

}

@media ( prefers-reduced-motion ) {
    :root {
        scroll-behavior: unset;
    }
}


/* ---------------------------------------------------------------- ## Reset -*/


body {
    margin: 0;
	background: #fff;
}

* {
    box-sizing: border-box;
}

button:focus,
button:hover {
	outline: var(--asb_theme-blue3) solid 2px;
}


/* ---------------------------------------------------------------- # Layout -*/
/* ----------------------------------------------------------------- ## site -*/


.site {
    display: grid;
    grid: repeat(3, auto) / 100%;
    grid-template-areas: "header"
                         "site-main  "
                         "footer";
    place-content: start center;
    min-height: 100vh;
}

.header { grid-area: header; }
.site-main   { grid-area: site-main  ; }
.footer { grid-area: footer; }


/* ------------------------------------------------------- ## frontPage-main -*/


.frontPage-main {
    gap: 1vmin;
    display: grid;
    grid: repeat(3, auto) / 100%;
    grid-area: site-main; /* Base Site Grid */
    grid-template-areas: "welcome      "
						 "topServices  "
                         "incidentFeed";
    place-content: start center;
    min-height: 100vh;
}

/* Nested Front Page */
.welcome      { grid-area: welcome;      }
.topServices  { grid-area: topServices;  }
.incidentFeed { grid-area: incidentFeed; }


/* ------------------------------------------------------------ ## site-main -*/


.site-main {
    display: grid;
    grid-area: site-main; /* Base Site Grid */
    grid-template-areas:
        "content side-wide"
        "side    .        ";
    grid-template-columns: 100% 0;
    z-index: 10;
    margin: -6em auto 6em auto;
    width: 90%;
    height: fit-content;
}

.site-main-noside {
    display: block;
}

@media (min-width: 48em) {
    .site-main {
        width: 80%;
        max-width: 70em;
    }

    .site-main-noside > .article,
    .site-main-noside > .row {
        margin: 0 auto;
    }
}

.article {grid-area: content;}
.sidebar {grid-area: side;}

@media (min-width: 75em) {
    .sidebar {
        grid-area: side-wide;
    }
    .site-main {
        grid-template-columns: calc(100% - 20em) minmax(0, 20em);
    }
}

    .article {
        min-width: 20em;
        max-width: 62em;
    }

    .site-main-noside > article > .entry-header {
        width: 100%;
    }

    .post-thumbnail {
        position: relative;
        float: right;
        clear: right;
    }

    .post-thumbnail > img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .entry-header,
    .page-header {
        display: inline-block;
        margin: 2em 0 0 0;
        border-top: solid 0.8em var(--asb_theme-yellow2);
        padding: 0;
        width: 100%;
    }

    @media (min-width: 48em) {
        .post-thumbnail {
            margin: 0 0 2em 2em;
            max-width: calc(40% - 2em);
        }
		.entry-header {
			width: 60%;
		}
    }


/* --------------------------------------------------------- ## archive-main -*/


.archive-main {
    display: grid;
    grid-area: site-main;
    grid-template-areas:
        "topContent side-wide"
        "content    side-wide"
        "side       .        ";
    grid-template-columns: 100% 0;
    z-index: 10;
    margin: -6em auto 6em auto;
    width: 90%;
    height: fit-content;
}

    @media (min-width: 48em) {
        .archive-main {
            width: 80%;
            max-width: 70em;
        }
    }

    @media (min-width: 75em) {
        .archive-main {
            grid-template-columns: calc(100% - 20em) 20em;
        }
    }


/* -------------------------------------------------------------- # Elements -*/
/* ---------------------------------------------------------------- ## Icons -*/


/* fontAwesome svg icons */
.fas,
.faIcon {
	fill: currentColor;
	display: block;
	width: 100%;
	height: 100%;
    color: inherit;
}


/* ----------------------------------------------------------- ## Typography -*/


.title,
h1,
h2 {
    padding: 0 0.3em;
    font-weight: 400;
}

.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--asb_font-primary);
  font-weight: 400;
  text-transform: uppercase;
}

.title {
    margin-bottom: 1.7em;
    font-size: var(--asb_font-xl);
    line-height: 1.5em;
}

h1 {
    margin-top: 1.2em;
    margin-bottom: 1.7em;
    font-family: var(--asb_font-primary);
    font-size: var(--asb_font-l);
    line-height: 1.3em;
}

h2 {
    margin-top: 1em;
    margin-bottom: 1.2em;
    font-size: var(--asb_font-m);
    line-height: 1.5em;
}

h3 {
    margin-top: 1.7em;
    margin-bottom: 0.7em;
    font-size: var(--asb_font-s);
    line-height: 2.1em;
}

h4 {
    margin-bottom: 0.4em;
    font-size: var(--asb_font-s);
    line-height: 1.7em;
}

h5,
h6 {
    font-size: var(--asb_font-s);
}

p {
    margin: 0 0 1em 0;
}

    p-narrow {
        max-width: 27em;
        text-align: center;
    }

ul {
    padding: 0.8em 2.7em;
    list-style: circle;
}

ol { margin-bottom: 1.7em; margin-left: 1.7em; }

.note { margin-bottom: 1.7em; }

    .note:last-child { margin-bottom: 0; }

.box { margin-bottom: 1.7em; padding: 1.1em; }

    .box:last-child { margin-bottom: 0; }

li { margin: 0.25em 0; }

sub { padding: 0 0.1em; }

sup { padding: 0 0.1em; }

blockquote {
    margin-bottom: 1.7em;
    border-width: 0 0 0 0.4em;
    border-style: solid;
    border-color: #0004;
    background: var(--asb_lightGrey);
    padding: 0.1em 1.1em;
    font-style: italic;
    quotes: "\201C""\201D""\2018""\2019";
}

  blockquote:before {
      vertical-align: -0.4em;
      margin-right: 0.15em;
      color: #ccc;
      font-size: var(--asb_font-xl);
      line-height: 0.1em;
      content: open-quote;
  }

  .blockquote-left { padding: 0 0 0 1.1em; }

code {
    margin: 0 0.1em;
    border-radius: 0.4em;
    background-color: var(--asb_lightGrey);
    padding: 0.1em 0.2em;
    font-size: var(--asb_font-xs);
}

kbd {
    margin: 0 0.1em;
    box-shadow: 0 0 0.375em 0 rgba(0, 0, 0, 0.45);
    border-radius: 0.2em;
    background-color: var(--asb_white);
    padding: 0.1em 0.2em;
    font-size: var(--asb_font-xs);
}

.alert {
    margin-bottom: 1.7em;
    border-radius: 0.5em;
    background: red;
    padding: 0.1em;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

    .alert:last-child { margin-bottom: 0; }

.footnote {
    margin-bottom: 1.7em;
    border-top: 0.1em dotted var(--asb_lightGrey);
    padding-top: 1.1em;
    font-size: var(--asb_font-xs);
    line-height: 1.4em;
}

    .footnote:last-child  { margin-bottom: 0; }

    .footnote_p { margin-bottom: 1.1em; }

dfn,
cite,
em,
i {
	font-style: italic;
}

small {
	font-size: var( --asb_font-s );
}


address {
	margin: 0 0 1.5em;
    font-style: inherit;
    text-transform: capitalize;
}

code,
kbd,
tt,
var {
	font-family: var(--asb_font-mono);
}

@media (min-width: 32em) {

    .title {
        margin-bottom: 1.7em;
        font-size: var(--asb_font-xxl);
        line-height: 1.5em;
    }

    h1 {
        font-size: var(--asb_font-xl);
    }

    h2 {
        font-size: var(--asb_font-l);
    }

    h3 {
        font-size: var(--asb_font-m);
    }
    h4 {
        font-size: var(--asb_font-m);
    }
}


/* ---------------------------------------------------------------- ## Forms -*/


/* Hidden wrap for button elements */
.buttonWrap {
    z-index: 10;
    height: fit-content;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 0.625em var(--asb_grey);
	padding: 0.2em;
	color: var(--asb_lightGrey);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: var(--asb_theme-blue1);
}


/* -------------------------------------------------------------- ## Buttons -*/


.button {
    display: flex;
    position: relative;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
	transition: 0.25s;
    z-index: 10;
    border: none;
    background: var( --asb_theme-blue3 );
	padding: 1em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: var(--asb_white);
    font-size: var(--asb_font-button);
	font-weight: 600;

	&:hover {
    	cursor: pointer;
        outline: none;

		&> .faIcon.pencil {
			transform: rotateX(0deg);
			font-size: 2em;
		}
    }
}

    .button-outline {
        border: solid 0.3em var( --asb_theme-blue3 );
        background: #0000;
        color: var( --asb_theme-blue3 );

		&:hover {
			background: var( --asb_theme-blue3 );
			color: var(--asb_white);
		}
    }

    .button-primary {
        background: var(--asb_theme-yellow2);
        color: #000;
    }

    /* Hidden icon for button animation */
    .faIcon.pencil {
        position: absolute;
        transform: rotateX(-90deg);
		transition: all 0.25s;
		z-index: -1;
		width: auto;
		height: 80%;
		color: var( --asb_theme-yellow1 );
        font-size: 0;
    }

	.button-tight {
		padding: 0.5em 0.75em;
	}


/* ---------------------------------------------------------------- ## Links -*/


a {
    display: block;
    width: fit-content;
	color: inherit;
    text-decoration: none;
}

/* price table */
td > a > .readMore {
    font-size: var(--asb_font-xs);
}

p > a,
.readMore {
    display: inline-block;
    padding: 0 0.2em;
    font-weight: 400;
    line-height: 1.5;
}

p > a {
    text-decoration: underline;
}

.readMore {
    text-decoration: none;
}

/* read more icon */
i.fas.fa-angle-double-right {
    color: var(--asb_theme-yellow2);
    font-size: var(--asb_font-xs);
}

p > a:visited,
.readMore:visited {
    font-weight: 300;
}

p > a:hover,
.readMore:hover {
    transform: none;
    background-color: var(--asb_theme-blue1);
    color: var(--asb_white);
}

.readMore:hover > i {
    color: var(--asb_white);
}

a:focus,
a:hover {
    outline: var(--asb_theme-blue3) solid 2px;
}


/* --------------------------------------------------------------- ## Tables -*/


table {
    border-spacing: 0;
    width: 100%;
}

    .pricelist#breed-pricelist > figure > table > tbody {
        line-height: 2;
    }

    tr:nth-child(2n+1) {
        background: var(--asb_lightGrey);
    }

    tr:last-child > td {
        border-bottom: solid 0.8em var(--asb_theme-blue1);
    }

    th {
        vertical-align: top;
        background: var(--asb_theme-blue1);
        width: 50%;
        color: var(--asb_white);
        font-family: var(--asb_font-primary);
        font-size: var(--asb_font-m);
        font-weight: 600;
        letter-spacing: 0.05em;
        line-height: 1;
        text-align: left;
        text-transform: capitalize;
    }

    tr:first-child > th:first-child {
        padding: 0.8em 0 0.8em 1em;
    }

    tr:first-child > th:last-child {
        padding: 0.8em 1em 0.8em 0em;
    }

    .tableHeader_pricesFrom {
        font-size: 0.55em;
    }

    td {
        padding: 0.2em 1em;
    }

    /* Fix WP random margin */
    .pricelist_table {
        margin: 0;
        overflow: hidden;
    }

@media (min-width: 32em) {
	th {
		padding: 1em;
		font-size: var(--asb_font-l);
	}
}



/* --------------------------------------------------------- ## WordPress UI -*/
/* ------------------------------------------------------ ### post-edit-link -*/


    /* link shown on editable front end elements when in admin mode */
    a.post-edit-link {
        animation: 2s infinite alternate surge;
        border-radius: 0.2em;
        background: #21759a;
        padding: 0.4em;
        width: fit-content;
        color: #fff;
        font-family: var(--asb_font-mono);
        line-height: 1.2;
    }

    @keyframes surge {
        0% { transform: scale(1); }
        100% { transform: scale(1.3); }
    }


/* ---------------------------------------------------------------- # Blocks -*/
/* ----------------------------------------------------------- ## Navigation -*/
/* --------------------------------------------------------------- ### .menu */


.menu {
	background: inherit;
	padding: 0.5em 1em;
	width: max-content;
	max-width: 100vw;
	height: auto;
	text-transform: uppercase;
	color: inherit;
	font-family: var(--asb_font-secondary);
	font-size: var(--asb_font-xs);

	ul {
		margin: 0;
		padding: 0;

		ul {
			padding: 0 0 0 1.5em;
		}

		li {
			margin: 0;
			list-style: none;

			a {
				display: block;
				padding: 1em;
				width: 100%;
				text-decoration: none;
				transition: background 0.25s;

				&:hover {
					background: var(--asb_theme-yellow2);
					color: var(--asb_theme-blue1);
				}
			}
		}
	}
}


/* ------------------------------------------------------------ ### .mainNav -*/


.mainNav {
	gap: 1em;
	display: flex;
	position: relative;
	flex-flow: row wrap;
	align-items: flex-end;
	transition: height 0.25s;

	button {
		border: none;
		background: none;
		padding: 0;
	}

	a {
		text-decoration: none;
	}

	.mainNav_iconItem {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		font-size: 30px;
	}


	.menuToggle {

		.faIcon {
			transition: opacity 0.25s;
			position: absolute;
		}

		.faIcon.burger {
			opacity: 100;
		}
		
		.faIcon.cross {
			opacity: 0;
		}
	}
}

.menuToggle.toggled {

	&> .faIcon.burger {
		opacity: 0;
	}

	&> .faIcon.cross {
		opacity: 100;
	}

	&+ .menu {
		display: flex;
	}
}

.mainNav > .menu {
	display: none;
	position: absolute;
	top: calc( 100% + 0.5em );
	right: 0;
	justify-content: center;
	z-index: 20;
	border-radius: var( --asb_cornerRadius );
	box-shadow: var( --asb_boxShadow );
	background: #fff;
	color: var(--asb_theme-blue1);
}


/* ---------------------------------------------------- ### footerNavigation */


.footerNav {
    margin-bottom: 1em;
}

    .footerNav > .menu {
		font-weight: 600;
	}


/* ---------------------------------------------------------- ### navBackToTop -*/


.navBackToTop {
    position: fixed;
	right: -110%;
	bottom: 64px;
	visibility: hidden;
	z-index: 20;
	border: none;
	border-radius: 50%;
	background-color: var(--asb_white);
	cursor: pointer;
	padding: 2px;
	width: 32px;
	height: 32px;
	overflow: hidden;
	text-decoration: none;
	line-height: 1;
	color: var(--asb_theme-blue1);

	&:hover {
		background-color: var(--asb_theme-yellow2);
	}
}


/* ------------------------------------------------------------ ### menu-404 -*/


.menu-404 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: var(--asb_font-primary);
    font-size: var(--asb_font-l);
    list-style: none;
}

    .menu-404 > li {
        margin: 0.5em;
    }

.dog-404 {
    width: 100%;
    object-fit: contain;
}


/* --------------------------------------------------------------- ## Global -*/
/* ------------------------------------------------------------- ### .header -*/


.header {
	grid-area: header;
	z-index: 10;
	margin: 0 auto 2em;
	border-bottom: solid 1px var( --asb_theme-blue3 );
	box-shadow: var( --asb_boxShadow );
	background: var(--asb_theme-yellow2);
	width: 100%;

	.header_container {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		padding: var( --asb_padding );
		width: 100%;
		max-width: var( --asb_contentWidth );

		.header_logo {
			display: flex;
			width: auto;

			img {
				max-height: 3em;
			}
		}
	}
}


/* --------------------------------------------------------- ### footer -*/


.footer {
	background: var( --asb_theme-blue2 );
    width: 100%;
	color: var( --asb_theme-yellow2 );

	.footer_container {
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		margin: 0 auto;
		padding: var( --asb_padding );
		width: 100%;
		max-width: var(--asb_contentWidth);
		font-family: var( --asb_font-primary );

		.footer_icon {
			display: inline-block;
			width: 1em;
			height: 1em;
		}

		.footer_block {
			gap: 1em;
			display: flex;
			flex: 1;
			flex-flow: column nowrap;
			align-items: center;
			padding: 2em 0;

			.footer_contact {
				gap: 0.5em;
				display: flex;
				align-items: center;
				text-transform: lowercase;
				text-decoration: none;
				line-height: 2.5em;
				color: var(--asb_theme-yellow2);
				font-size: var(--asb_font-xs);
			}

			.footer_social {
				gap: 2em;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;
				margin: 2em 0;
		
				.footer_socialLink {
					width: 32px;
					height: 32px;
				}
			}
		}

		.footer_bottomBar {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: space-between;
			padding: var( --asb_padding ) 0;
			width: 100%;
	
			.footer_footItem {
				text-align: center;
			}
		}
	}

	@media ( min-width: 768px ) {

		.footer_container {
			flex-flow: row wrap;

			.footer_block.left {
				align-items: flex-start;
			}

			.footer_block.right {
				align-items: flex-end;
			}

			.footer_bottomBar {
				flex-flow: row wrap;
			}
		}
	}
}


/* ------------------------------------------------------------- ### sidebar -*/

.sidebar {
    gap: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-left: 0;
    width: 100%;
    height: fit-content;
}

    .sidebar_widgetWrap {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 6em;
        border-top: solid 0.4em var(--asb_darkGrey);
        padding: 0.5em;
        width: 100%;
        font-size: var(--asb_font-m);
    }

    /* first header border is orange */
    .sidebar > div:nth-of-type(1) {
        margin-top: 2em;
        border-top: solid 0.8em var(--asb_theme-yellow2);
    }

    /* hide all but contact widget on archive page */
    .archive-main > .sidebar > div:nth-of-type(1n+2) {
        display: none;
    }

    /* sticky contact form on archive page */
    .archive-main > .sidebar {
        position: sticky;
        top: 0;
    }

    .sidebar_title {
        margin: 1.8em 0;
        font-size: var(--asb_font-m);
        line-height: 1.5;
        text-align: center;
    }

    .sidebar > div:nth-of-type(1) > .sidebar_title {
        margin: 0.8em 0;
        line-height: 1;
    }

    .sidebar > div > .button {
        margin: 1.5em auto;
    }

@media (min-width: 75em) {
    .sidebar {
        margin-left: 2em;
        width: 18em;
    }
    .sidebar_widgetWrap {
        font-size: var(--asb_font-s);
    }
}

/* Animate the contact widget on anchor target */
#contactForm:target {
    animation: 0.5s 3 target;
}

@keyframes target {
    0% {border: solid 0.4em var(--asb_theme-yellow2);}
    50% {border: solid 0.4em var(--asb_theme-blue1);}
    100% {border: solid 0.4em var(--asb_theme-yellow2);}
}


/* ----------------------------------------------------------- ## Front Page -*/
/* ------------------------------------------------------------- ### welcome -*/


.welcome {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}
    .site-intro {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 0em 0 2em 0;
        padding: 0 0.5em;
    }
		.site-title {
			margin: 0em;
			font-size: var(--asb_font-m);
			line-height: 1.5em;
			text-align: center;
		}

    .site-description {
		width: 100%;
		text-align: left;
		text-transform: unset;
		color: #333;
		font-family: var(--asb_font-primary);
		font-size: var(--asb_font-xxs);
    }


/* ------------------------------------------------------- ### incidentFeed -*/


.incidentFeed {
	margin: var( --asb_padding ) auto;
	padding: var( --asb_padding );
    width: 100%;
	max-width: var( --asb_contentWidth );
}
	.incidentFeed_title {
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}

.incident {
	display: grid;
	grid-template-columns: auto;
	margin-bottom: 4em;
	border-radius: var( --asb_cornerRadius );
	box-shadow: var( --asb_boxShadow );
	max-width: 100%;
	overflow: hidden;
}
	.incident > div {
		padding: var( --asb_padding );
	}
	.incident_label,
	.incident_value {
		border-bottom: solid 1px #ccc;
	}
	.incident > div:nth-last-child( 1 ) {
		border-bottom: solid 0.5em var( --asb_theme-blue2 );
	}
	.incident_label {
		background: #f3f3f3;
	}
	.incident > div:nth-of-type(2n+6) {
		background: #fff;
	}
	.incident > div:nth-of-type(2n+6) {
		background: #fff;
	}
	.incident_header,
	.incident_editBar {
		grid-column: 1 / -1;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		text-transform: uppercase;
	}
	.incident_header {
		background: var( --asb_theme-blue2 );
		color: var( --asb_white );
		font: 600 var( --asb_font-m ) var( --asb_font-primary );
	}
	.incident_editBar {
		background: var( --asb_theme-yellow2 );
	}
	.incident_editBar:nth-child(3) {
		padding: 0;
	}
	.incident_header:nth-child( 2 ) {
		font: 600 var( --asb_font-m ) var( --asb_font-primary );
	}
	.incident_label {
		font-weight: 800;
	}
		.incident pre {
			margin: 0;
			white-space: pre-wrap;
			font-family: var( --asb_font-secondary );
		}


	.incident_value.location {
		display: flex;
		flex-flow: row wrap;
		gap: 0.5em;

		.incident_table {
			flex: 1 1 70%;

			tr:last-child > td {
				border-bottom: none;
			}

			td:first-child {
				font-weight: 600;
			}

			@media ( max-width: 320px ) {
				tr {
					display: flex;
					flex-flow: column;
				}
			}
		}

		.incident_map {
			flex: 1 1 200px;
		}
	}

		.incident_image img {
			object-fit: contain;
			max-width: 100%;
			max-height: 100px;
		}

@media (min-width: 33em) {
	.incident {
		grid-template-columns: calc( 2.5em + 10vw ) auto;
	}
	.incident_label {
		background: unset;
	}
	.incident > div:nth-of-type(4n+5),
	.incident > div:nth-of-type(4n+6) {
		background: #f9f9f9;
	}
	.incident > div:nth-last-child( 2 ) {
		border-bottom: solid 0.5em var( --asb_theme-blue2 );
	}
}


/* ----------------------------------------------------- ## WordPress Blocks -*/
/* ---------------------------------------------------- ### wp-block-gallery -*/


figure.wp-block-gallery {
    gap: 1em;
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    padding: 4em;
}

ul.blocks-gallery-grid {
    gap: 1em;
    display: flex;
    flex-flow: row wrap;
}

li.blocks-gallery-item {
    display: flex;
    flex: 1;
    margin: 0 !important; /* :'( */
    min-width: 12em;
}

.blocks-gallery-item > figure {
    position: relative;
}

figcaption.blocks-gallery-item__caption {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    backdrop-filter: blur(0.5em) brightness(0.8);
    transition: 0.2s;
    width: 100%;
    height: 100%;
}

.blocks-gallery-item:hover > figure > figcaption {
    opacity: 1;
}

/* Caption below gallery */
figcaption.blocks-gallery-caption {
    background: var(--asb_theme-blue1);
    padding: 0.3em;
    color: var(--asb_white);
}


/* ------------------------------------------------- ### wp-block-media-text -*/


.wp-block-media-text > figure > img {
    height: 100%;
    object-fit: cover;
}


/* --------------------------------------------------------------- ### utils -*/


.xScroll {
	max-height: 20em;
	overflow-x: auto;
}